@import "tailwindcss";

body {
  padding: 10px;
  font-family: sans-serif;
  background-color: #FBD474;
  text-align: center
}

h1 {
  color: #557D5A;
  font-size: 100px;
  margin: 0;
  padding: 10px 0;
  text-shadow: 2px 2px #FBA800, -1px -1px #FBA800, -1px 1px #FBA800, 1px -1px #FBA800, 1px 1px #FBA800;
}
