@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import "tailwindcss";

@theme{
  --font-jua: "Jua", sans-serif;
  --color-pictonBlue: #55A9ED;
  --color-darkpurple: #403245;
  --color-lightorange: #EDAF55;
  --color-forestgreen: #557D5A;
  --color-orange: #E28454;
  --color-brightpurple: #BD55ED;
  --color-lightgrey: #DAD9D7;
  --color-lightergrey: #DADADA;
  --color-maybeyellow: #FBD474;
  --color-whiteish: #F6F1E5;
  --color-neongreen: #7EED55;
  --color-cream: #FFE8B1;
  --color-sharpred: #ED5A55;
  --color-plainyellow: #FFD900;
  --text-tiny: 0.9375rem;
  --text-medium: 1.5625rem;
  --text-large: 2.1875rem;
  --spacing-normalButtonWidth: 11.25rem;
  --spacing-normalButtonHeight: 5.625rem;
  --spacing-normalPhoneWidth: 23.0625rem;
}


body {
  padding: 0rem;
  font-family: sans-serif;
}

.text-outline{
  -webkit-text-fill-color: var(--color-whiteish);
  -webkit-text-stroke: 0.0625rem;
  -webkit-text-stroke-color: var(--color-darkpurple)
}

.btnBlue {
  @apply
    text-[#F6F1E5]
    bg-[#55A9ED]
    outline-[#403245]
    outline-[0.25rem]        /* 4px */
    outline-offset-0
    hover:bg-[#1F7BD0]
    focus:outline-[#403245]
    focus:ring-[0.3125rem]   /* 5px */
    focus:ring-[#403245]
    font-[jua]
    font-medium
    rounded-[0.5rem]         /* 8px */
    text-[0.875rem]          /* 14px (text-sm) */
    me-[0.5rem]              /* 8px (margin-inline-end) */
    mb-[0.5rem]              /* 8px */
    dark:bg-blue-600
    dark:hover:bg-blue-600
    dark:focus:ring-blue-800;
    cursor: pointer;
}


.btnDarkYellow {
  @apply
    text-[#F6F1E5]
    bg-[#EDAF55]
    outline-[#403245]
    outline-[0.25rem]
    outline-offset-0
    hover:bg-[#FF9E2F]
    focus:outline-[#403245]
    focus:ring-[0.3125rem]
    focus:ring-[#403245]
    font-[jua]
    font-medium
    rounded-[0.5rem]
    text-[0.875rem]
    me-[0.5rem]
    mb-[0.5rem]
    dark:bg-blue-600
    dark:hover:bg-blue-600
    dark:focus:ring-blue-800;
    cursor: pointer;
}




.btnRed {
  @apply
    text-[#F6F1E5]
    bg-[#ED5A55]
    outline-[#403245]
    outline-[0.25rem]
    outline-offset-0
    hover:bg-[#C23033]
    focus:outline-[#403245]
    focus:ring-[0.3125rem]
    focus:ring-[#403245]
    font-[jua]
    font-medium
    rounded-[0.5rem]
    me-[0.5rem]
    mb-[0.5rem]
    dark:bg-red-600
    dark:hover:bg-red-700
    dark:focus:ring-red-800;
    cursor: pointer;
}




/* Action Buttons */
.btnAction {
  @apply
    max-w-[15.625rem]     /* 250px */
    h-[4.75rem]           /* 76px */
    px-[1.5rem]           /* 24px */
    py-[0.75rem]          /* 12px */
    text-[2.1875rem];     /* 35px */
    cursor: pointer;
}




/* Generic Buttons */
.btnGeneric {
  @apply
    max-w-[18.75rem]      /* 300px */
    h-[3.75rem]           /* 60px */
    px-[1.5rem]
    py-[0.75rem]
    text-[1.5625rem];     /* 25px */
    cursor: pointer;
}




/* Utility Buttons */
.btnUtility {
  @apply
    max-w-[8.125rem]      /* 130px */
    h-[3.1875rem]         /* 51px */
    text-[0.9375rem]      /* 15px */
    px-[1.5rem]
    py-[0.75rem];
    cursor: pointer;
}




/* Background Cards */
.backgroundCardBeige {
  @apply
    w-[90%]
    sm:w-[28.125rem]      /* 450px */
    md:w-[31.25rem]       /* 500px */
    lg:w-[33.125rem]      /* 530px */
    mx-auto
    bg-[#FBD773]
    p-[1.5rem]
    rounded-[1rem]
    border-[0.25rem]
    border-[#403245];
}


.backgroundCardLightBeige {
  @apply
    w-[90%]
    sm:w-[28.125rem]
    md:w-[31.25rem]
    lg:w-[33.125rem]
    mx-auto
    bg-[#FFE8B0]
    p-[1.5rem]
    rounded-[1rem]
    border-[0.25rem]
    border-[#403245];
}


.backgroundCardBlue {
  @apply
    w-[90%]
    sm:w-[28.125rem]
    md:w-[31.25rem]
    lg:w-[33.125rem]
    mx-auto
    bg-[#55A9ED]
    p-[1.5rem]
    rounded-[1rem]
    border-[0.25rem]
    border-[#403245];
}


.backgroundCardPurple {
  @apply
    w-[90%]
    sm:w-[28.125rem]
    md:w-[31.25rem]
    lg:w-[33.125rem]
    mx-auto
    bg-[#BD55ED]
    p-[1.5rem]
    rounded-[1rem]
    border-[0.25rem]
    border-[#403245];
}




/* Typography */
.infoTextLarge {
  @apply
    text-[2.1875rem]      /* 35px */
    text-[#FFFFFF]
    font-[jua];
}


.infoTextMedium {
  @apply
    text-[1.5625rem]      /* 25px */
    text-[#FFFFFF]
    font-[jua];
}


.infoTextSmall {
  @apply
    text-[0.9375rem]      /* 15px */
    text-[#FFFFFF]
    font-[jua];
}




/* Descriptions */
.descriptionTextLarge {
  @apply
    text-[1.5625rem]      /* 25px */
    text-[#403245]
    font-[jua];
}


.descriptionText {
  @apply
    text-[0.9375rem]      /* 15px */
    text-[#403245]
    font-[jua];
}


/* Pop Up Box*/



.popupLayout{
  @apply
    items-center
    justify-center
    box-border
    bg-white/30
    fixed
    /*
    width: 100%;
    height: 100%;*/
    left-0
    right-0
    bottom-0
    top-0
    flex
    flex-col
    backdrop-blur-md;
    }

.popup {
  @apply
    top-[20%]
    py-[1rem]
    px-[1rem]
    bg-[#FFE8B1]
    border-[3px]
    border-[#403245]
    rounded-[20px]
    text-[15px]
    text-center
    w-[60%]
    items-stretch
    box-border 
    flex
    flex-col
    text-[#403245]
    font-mono
    break-words;
    }
  
.popupText{
  @apply
  py-[5rem]
  px-[3rem]
}

@keyframes moveUpAndFade {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-3rem);
    opacity: 0;
  }
}

.move-up-fade {
  animation: moveUpAndFade 2s ease-in-out forwards;
}
